.cke_chrome {
    border: 1px solid $color-border;
    border-radius: $border-radius-medium;
    box-shadow: none;
    overflow: hidden;
}
a.cke_button {
    height: 26px;
    cursor: pointer;
}
.cke_toolgroup {
    border: 1px solid $color-border;
    background: white;
    box-shadow: none;
}
a.cke_button_off:hover, a.cke_button_off:focus, a.cke_button_off:active, a.cke_button_disabled:hover, a.cke_button_disabled:focus, a.cke_button_disabled:active {
    background: $color-background;
    box-shadow: none;
}
.cke_button_on {
    background: $color-background-alt-2;
    box-shadow: none;
}
.cke_top {
    background: $color-background;
    border-bottom: 1px solid $color-border;
}
.cke_toolbar:nth-child(3), .cke_toolbar:nth-child(4), .cke_toolbar:nth-child(5) .cke_toolgroup a:nth-child(3), .cke_toolbar:nth-child(5) .cke_toolgroup a:nth-child(4)  { // Link and image buttons
    display: none;
}